@use '@angular/material' as mat;

html {
  color-scheme: light;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        theme-type: light,
      ),
      typography: Roboto,
      density: 0,
    )
  );

  --mat-sys-surface: #edf2f7;
  --mat-sys-surface-container-low: #edf2f7;
}

html.dark-mode {
  color-scheme: dark;

  @include mat.theme(
    (
      color: (
        primary: mat.$rose-palette,
        theme-type: dark,
      ),
    )
  );

  --mat-sys-surface: #3b4a5e;
  --mat-sys-surface-container-low: #3b4a5e;
}

html,
body {
  height: 100%;
  color: light-dark(#333333, #f7fafc);
  background-color: light-dark(#ffffff, #1a202c);
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue';
}
